* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: opacity .3s ease-in-out;
}

html {
  font-size: 62.5%;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;

}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 1.8rem;
  color: #1f1f1f;
  ;
  background-color: #fff;
  animation: opening 1s ease-in-out;


}

ul {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  // transition: color .3s ease-in-out;
}

li {
  list-style: none;
}


button {
  border: 0;
  cursor: pointer;
  outline: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  @include container;

}

.button-close{
  position: relative;
  border: none;
  cursor: pointer;
  background: none;
  width: 5rem;
  height: 5rem;
  display: inline-block;
  transition: transform .2s, opacity .2s;
  &:hover{
    transform: scale(1.1);
  }
  &:active{
    transform: scale(.9);
    opacity: .8;
  }
  &::before, &::after{
    content:'';
    background: #d2d2d2;
    height: 4rem;
    width: .3rem;
    position: absolute;
    border-radius: 1rem;
    top: 50%;
    transform: translateY(-50%);
  }
  &::before{
    transform: translateY(-50%) rotate(45deg);
  }
  &::after{
    transform: translateY(-50%) rotate(-45deg);
  }
}
 



@keyframes opening {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}