$dark:#1f1f1f;
$text:#9f9f9f;
$orange: #ffa650;
$enabled: #a2a2a2;
$disabled:#e6e6e6;
$yellow:#fcff00;
$ginger:#ff5441;

@mixin text {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 1.6rem;
  color: $text;
  line-height: 2.2rem;
}

@mixin roboto {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

@mixin section {
  padding: 12rem 0 0;

  @include lg {
    padding-top: 9rem;
    padding-bottom: 9rem;
  }
}

@mixin title {
  color: $dark;
  font-size: 4.8rem;
  color: $orange;
  text-align: center;
  margin: 0 auto 4rem;
}


@mixin btn {
  border-radius: 2.4rem;
  background-color: $orange;
  color: #fff;
  font-weight: 400;
  padding: 2rem 6rem;
  transition: background .3s ease-in-out, color .3s ease-in-out;
  outline: none;
}

@mixin container {
  width: 90%;
  margin: 0 auto;
  max-width: 120rem;

  @include lg {
    max-width: 98rem;

  }

  @include md {
    max-width: 73.6rem;
  }

  @include sm {
    max-width: 39rem;
  }
}

@mixin xxxl(){
  @media screen and (max-width: 1800px) {
    @content;
  }
}

@mixin xxl() {
  @media screen and (max-width: 1600px) {
    @content;
  }
}
@mixin custom() {
  @media screen and (max-width: 1250px) {
    @content;
  }
}

@mixin xl() {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin lg() {
  @media screen and (max-width: 992px) {
    @content;
  }
}

@mixin md() {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin sm() {
  @media screen and (max-width: 576px) {
    @content;
  }
}

@mixin xs() {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin xxs() {
  @media screen and (max-width: 360px) {
    @content;
  }
}